header {
    background-color: #8a817c;
    width: 100%;
}

.dropdown-menu {
    transition: all 1s ease-in;
    font-family: 'Roboto', sans-serif;
    background-color: #f2e9e4;
}

.dropdown {
    &:hover .dropdown-menu {
        display: block;
        .dropdown-item {
            &:hover {
                background-color: #bcb8b1;
            }
        }
    }
}

#custom-navbar {
    width: 100%;
    z-index: 1030;
    display: block;
    .navbar-brand {
        object-fit: cover;
        img {
            display: block;
            max-width: 100%;
        }
    }
}